@charset "UTF-8";

div#image-container{
	width: 100%;
	height: auto;
	margin: 0px;
}
.responsive-image{
	width: 100%;
	height: auto;
}
div#image-container > img{
	width: 120px;
	height: 120px;
	padding: none;
	cursor: pointer;
	margin-left: -4px;
}
.activeness{
	border:6px solid #9e9e9e;
}
div#preview-container{
	width: 37%;
	height: 250px;
	
}